@{
    Layout = null;
    var contentPath = "/Themes/Takashimaya/Content";
}
<div class="bottom-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-xs-12 content">
                <div class="baby"><img src="@contentPath/images/icon_baby.png"></div>
            </div>
        </div>
    </div>
</div> <!-- bottom -->

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="content">
                <div class="col-md-7 col-xs-7 copyright">
                    <ul>
                        <li><a href="javascript:void(0)">©2015 Takashimaya Singapore Ltd. All Rights Reserved  </a></li>
                        <li><a href="javascript:void(0);">FAQ </a></li>
                        <li><a href="javascript:void(0);">DELIVERY </a></li>
                        <li><a href="javascript:void(0);">T&C</a></li>
                        <li><a href="javascript:void(0);">PRIVACY </a></li>
                    </ul>
                </div>

                <div class="col-md-5 col-xs-5">

                    <div class="subscribe">
                        Subscribe to us
                        <div class="input-group">
                            <input class="form-input-box" type="text" placeholder="Your name">
                            <input class="form-input-box" type="text" placeholder="Your email">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default go">GO</button>
                            </span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</footer> <!-- footer -->
