
@*<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="navitem active"><a href="/">HOME</a></li>
                <li class="navitem"><a href="#">FOOD</a></li>
                <li class="navitem"><a href="#">PROMOTIONS</a></li>
                <li class="navitem"><a href="#">CONTACT</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="social-icons">
                    <span>Contact with us:</span>
                    <ul>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                        <li><a href=""><i class="fa fa-camera-retro"></i></a></li>
                    </ul>
                </li>
                <li class="navitem active"><a href="#">MAIN SITE</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>*@

@{
    var contentPath = "/Themes/Takashimaya/Content";
}
<div class="navigation-mobile cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left">
    <div class="container">
        <div class="row">
            sdfsadfasdfsadf

        </div>
    </div>
</div> <!-- navigation mobile -->


<div class="navigation-top">


    <nav id="nav-top" class="container">
        <ul>
            <!--  <li><a href="javascript:void(0);"><img src="images/icon-mobile-menu.png" alt="button mobile menu"></a></li>-->
            <li class="active"><a href="javascript:void(0);">HOME</a></li>
            <li class="has-sub">
                <a href="javascript:void(0);">FOOD</a>
                <div class="nav-sub">
                    <ul>
                        <li><a href="javascript:void(0);">Hampers</a></li>
                        <li><a href="javascript:void(0);">Japanese Confectionery</a></li>
                        <li><a href="javascript:void(0);">Hampers</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="javascript:void(0);">OCCASIONS</a></li>

            <li>
                <a href="javascript:void(0);">CONTACT</a>

            </li>
        </ul>

        <div class="main-site">
            <a href="http://takashimaya.com.sg">MAIN SITE</a>
        </div>
        <div class="nav-social">
            <span>Connect with us:</span>
            <a href="javascript:void(0);"><img src="@contentPath/images/icon_facebook.png" alt="Facebook"></a>
            <a href="javascript:void(0);"><img src="@contentPath/images/icon_twitter.png" alt="Twitter"></a>
            <a href="javascript:void(0);"><img src="@contentPath/images/icon_instagram.png" alt="Instagram"></a>
        </div>


    </nav>

</div> <!-- navigation top -->

