@{
    Layout = "";
}
@model ConfigurationModel
@using Nop.Plugin.Payments.EasyPay2.Models;
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })

<script type="text/javascript">
	$(document).ready(function () {

		
	});


</script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   <span>Config test</span>
}