@{
    Layout = null;
}
<footer>
    <div class="container footer">
        <p class="footer-left fl">
            <span>@@ 2015 Takashimaya Singapore Ltd. All Rights Reserved</span> <a href="">FAQ</a> <a href="">DELIERY</a> <a href="">T&C</a> <a href="">PRIVACY</a>
        </p>
        <p class="subscribe text-right fr">
            <span>Subscribe to Us</span>
            <input type="text" name="yourname">
            <input type="text" name="youremail">
            <input type="button" value="GO" class="btn-go">
        </p>
    </div>
</footer>
