@{
    Layout = null;
    int categoryId = 0;
    int.TryParse(ViewBag.CurrentCategoryId,out categoryId );
}
<div class="pink-header" style="margin-top:0;">
    @ViewBag.LetterBoxTitle
</div>
<div class="letter-box">
    <ul>
        @{
            var c = 'a';
            while (c<='z')
            {
                <li><span class="pointer">@c.ToString().ToUpper()</span></li>
                c++;
            }
        }
        <li><a href="#">#</a></li>
        <script type="text/javascript">
            $(".letter-box li").click(function () {
                $(".letter-box li").each(function() {
                    $(this).removeClass("active");
                });
                $("#letter-listitem li").hide();
                $("#letter-listitem ." + $(this).text()).show();
                $(this).addClass("active");
            })
        </script>
    </ul>
    <div class="clear-fix"></div>
</div>
<div id="letter-listitem">
    @Html.Action("Gia_Manufactures","Catalog",new { categoryId = categoryId })
    <div class="clear-fix"></div>
</div>