@{
    Layout = null;    
}
<div class="women-tophead">
    <div class="title">
        @ViewBag.CatTitle
    </div>
    <ul class="menu">
        <li>
            <a href="#">NEW ARRIVALS</a>
        </li>
        <li>
            <a href="#">clearance</a>
        </li>
        <li>
            <a href="#">gift sets</a>
        </li>
        <li>
            <a href="#">miniatures</a>
        </li>
        <li>
            <a href="#">monthly specials</a>
        </li>
        <li>
            <a href="#">women designs</a>
        </li>
    </ul>
</div>
<div id="cat-search">
    <span class="title">Select brand</span>
    <select id="brands">
        <option value="1">All Designers</option>
    </select>
    <span class="title">Enter keyword</span>
    <input class="txtsearch" />
    <input type="button" class="btsearch"></input>
</div>
<div class="box-title">
    Women's discount perfume
</div>
<div class="box-content">
    <p>
        GIAperfumes.com carries top designer pefume and GIAperfumes.com carries top designer pefume and GIAperfumes.com carries top designer pefume and GIAperfumes.com carries top designer pefume and GIAperfumes.com carries top designer pefume and GIAperfumes.com carries top designer pefume and GIAperfumes.com carries top designer pefume and GIAperfumes.com carries top designer pefume and .... 
    </p>
</div>
<div style="margin-top: 5px;">
    @Html.Partial("_ProductTab")
</div>
