@using Nop.Services.GiaHelper
@{
    Layout = null;
}

<div id="main_left_menu">
    <div id="menuItem1" class="mnuTitle menu_off">
        <span class="catName">Fall Trends</span>
    </div>
    <div id="menuItem1_sub">
        @Html.Action("Gia_SpecialAttributes", "Catalog", new { attributeName = GiaConstance.FallTrendsKey, viewType=GiaConstance.MenuViewType, itemsCount=3, categoryId=ViewBag.CurrentCategoryId })
    </div>
    <div id="menuItem2" class="mnuTitle menu_off">
        <span class="catName">Best Sellers</span>
    </div>
    <div id="menuItem2_sub">
        @Html.Action("HomepageBestSellers", "Catalog", new { viewType=GiaConstance.MenuViewType, itemsCount=3, categoryId=ViewBag.CurrentCategoryId })
    </div>
    <div id="menuItem3" class="mnuTitle menu_off">
        <span class="catName">New Arrivals</span>
    </div>
    <div id="menuItem3_sub">
        @Html.Action("Gia_SpecialAttributes", "Catalog", new { viewType=GiaConstance.NewArrivalsKey, itemsCount=3, categoryId=ViewBag.CurrentCategoryId })
    </div>
    <div id="menuItem4" class="mnuTitle menu_off">
        <span class="catName">Clearance</span>
    </div>
    <div id="menuItem4_sub">
        @Html.Action("Gia_Clearances", "Catalog", new { viewType=GiaConstance.MenuViewType, itemsCount=3, categoryId=ViewBag.CurrentCategoryId })
    </div>
</div>
<script type="text/javascript" src="../../Scripts/verticalmenu.js"></script>
<script type="text/javascript">
    var menuItemCount = 5;
    verticalmenu("menuItem", menuItemCount);
</script>
