@{
    Layout = null;    
}
<img src="/Content/layout/beauty_logo.gif" />
<div class="sign_up_now">
    SIGN UP NOW
</div>
<div class="fragrance">
    FRAGRANCE
</div>
@RenderPage("_Menu.cshtml")
