@using System.Configuration
@using Nop.Services.GiaHelper
@{
    Layout = null;
    var itemsPerTab = ViewBag.PageItems;
    itemsPerTab = itemsPerTab ?? ConfigurationManager.AppSettings["Gia_ItemsCountOnTab"];
    var currentTab = ViewBag.CurrentTab;
    currentTab = currentTab ?? 1;
    var currentPage = ViewBag.CurrentPageIndex;
    currentPage = currentPage ?? 1;
    var categoryName = ViewBag.CurrentCategoryName;
}
<input type="hidden" id="current-tab" value="@currentTab"/>
<div id="tab-header">
    <div class="tab1 tab tab-active" style="cursor: pointer" onclick="tab_click(1)">
        <div class="title">best sellers</div>
    </div>
    <div class="tab2 tab" style="cursor: pointer" onclick="tab_click(2)">
        <div class="title">clearance</div>
    </div>
    <div class="tab3 tab" style="cursor: pointer" onclick="tab_click(3)">
        <div class="title">new arrivals</div>
    </div>
    <div class="clear-fix"></div>
</div>
<div id="tab-content">
    <div class="tab1 tab tab-active">
        @Html.Action("HomepageBestSellers", "Catalog",new { categoryName=categoryName, viewType=GiaConstance.ProductViewType, itemsCount=itemsPerTab, categoryId=ViewBag.CurrentCategoryId, pageIndex=currentTab==1?currentPage:1 })
        <div class="clear-fix"></div>
    </div>
    <div class="tab2 tab">
        @Html.Action("Gia_Clearances", "Catalog",new { categoryName=categoryName, viewType=GiaConstance.ProductViewType, itemsCount=itemsPerTab, categoryId=ViewBag.CurrentCategoryId, pageIndex=currentTab==2?currentPage:1 })
        <div class="clear-fix"></div>
    </div>
    <div class="tab3 tab">
        @Html.Action("Gia_SpecialAttributes", "Catalog", new { categoryName=categoryName, attributeName = GiaConstance.NewArrivalsKey, itemsCount=itemsPerTab, categoryId=ViewBag.CurrentCategoryId, pageIndex=currentTab==3?currentPage:1 })
        <div class="clear-fix"></div>
    </div>
    <div class="clear-fix"></div>
</div>

<script type="text/javascript">
$(document).ready(function () {
    var i = $("#current-tab")[0].value;
    tab_click(i);
});
</script>
