@{
    Layout = null;    
}
<div id="tab-header">
                            <div class="tab1 tab tab-active" style="cursor: pointer" onclick="tab_click(1,3)">
                                <div class="title">best sellers</div>
                            </div>
                            <div class="tab2 tab" style="cursor: pointer" onclick="tab_click(2,3)">
                                <div class="title">clearance</div>
                            </div>
                            <div class="tab3 tab" style="cursor: pointer" onclick="tab_click(3,3)">
                                <div class="title">new arrivals</div>
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                        <div id="tab-content">
                            <div class="tab1 tab tab-active">
                                <div class="product-item">
                                    <div align="center" class="image">
                                        <img src="/Content/layout/product/1.jpg" />
                                    </div>
                                    <div class="description">
                                        <span class="name">Ck One</span><br />
                                        by <span class="by">Calvin Klein</span><br />
                                        for Unisex
                                    </div>
                                    <div class="price">Up to 49% OFF</div>
                                </div>
                                <div class="product-item">
                                    <div class="image">
                                        <img src="/Content/layout/product/2.jpg" />
                                    </div>
                                    <div class="description">
                                        <span class="name">Ck One</span><br />
                                        by <span class="by">Calvin Klein</span><br />
                                        for Unisex
                                    </div>
                                    <div class="price">Up to 49% OFF</div>
                                </div>
                                <div class="product-item">
                                    <div class="image">
                                        <img src="/Content/layout/product/3.jpg" />
                                    </div>
                                    <div class="description">
                                        <span class="name">Ck One</span><br />
                                        by <span class="by">Calvin Klein</span><br />
                                        for Unisex
                                    </div>
                                    <div class="price">Up to 49% OFF</div>
                                </div>
                                <div class="product-item">
                                    <div class="image">
                                        <img src="/Content/layout/product/4.jpg" />
                                    </div>
                                    <div class="description">
                                        <span class="name">Ck One</span><br />
                                        by <span class="by">Calvin Klein</span><br />
                                        for Unisex
                                    </div>
                                    <div class="price">Up to 49% OFF</div>
                                </div>
                                <div class="product-item">
                                    <div class="image">
                                        <img src="/Content/layout/product/5.jpg" />
                                    </div>
                                    <div class="description">
                                        <span class="name">Ck One</span><br />
                                        by <span class="by">Calvin Klein</span><br />
                                        for Unisex
                                    </div>
                                    <div class="price">Up to 49% OFF</div>
                                </div>
                                <div class="product-item">
                                    <div class="image">
                                        <img src="/Content/layout/product/6.jpg" />
                                    </div>
                                    <div class="description">
                                        <span class="name">Ck One</span><br />
                                        by <span class="by">Calvin Klein</span><br />
                                        for Unisex
                                    </div>
                                    <div class="price">Up to 49% OFF</div>
                                </div>
                                <div class="product-item">
                                    <div class="image">
                                        <img src="/Content/layout/product/7.jpg" />
                                    </div>
                                    <div class="description">
                                        <span class="name">Ck One</span><br />
                                        by <span class="by">Calvin Klein</span><br />
                                        for Unisex
                                    </div>
                                    <div class="price">Up to 49% OFF</div>
                                </div>
                                <div class="product-item">
                                    <div class="image">
                                        <img src="/Content/layout/product/8.jpg" />
                                    </div>
                                    <div class="description">
                                        <span class="name">Ck One</span><br />
                                        by <span class="by">Calvin Klein</span><br />
                                        for Unisex
                                    </div>
                                    <div class="price">Up to 49% OFF</div>
                                </div>
                                <div class="product-item">
                                    <div class="image">
                                        <img src="/Content/layout/product/9.jpg" />
                                    </div>
                                    <div class="description">
                                        <span class="name">Ck One</span><br />
                                        by <span class="by">Calvin Klein</span><br />
                                        for Unisex
                                    </div>
                                    <div class="price">Up to 49% OFF</div>
                                </div>
                                <div class="product-item">
                                    <div class="image">
                                        <img src="/Content/layout/product/10.jpg" />
                                    </div>
                                    <div class="description">
                                        <span class="name">Ck One</span><br />
                                        by <span class="by">Calvin Klein</span><br />
                                        for Unisex
                                    </div>
                                    <div class="price">Up to 49% OFF</div>
                                </div>
                                <div class="product-item">
                                    <div class="image">
                                        <img src="/Content/layout/product/9.jpg" />
                                    </div>
                                    <div class="description">
                                        <span class="name">Ck One</span><br />
                                        by <span class="by">Calvin Klein</span><br />
                                        for Unisex
                                    </div>
                                    <div class="price">Up to 49% OFF</div>
                                </div>
                                <div class="product-item">
                                    <div class="image">
                                        <img src="/Content/layout/product/10.jpg" />
                                    </div>
                                    <div class="description">
                                        <span class="name">Ck One</span><br />
                                        by <span class="by">Calvin Klein</span><br />
                                        for Unisex
                                    </div>
                                    <div class="price">Up to 49% OFF</div>
                                </div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="tab2 tab">
                                <div class="product-item">
                                    <div align="center" class="image">
                                        <img src="/Content/layout/product/1.jpg" />
                                    </div>
                                    <div class="description">
                                        <span class="name">Ck One</span><br />
                                        by <span class="by">Calvin Klein</span><br />
                                        for Unisex
                                    </div>
                                    <div class="price">Up to 49% OFF</div>
                                </div>
                                <div class="product-item">
                                    <div class="image">
                                        <img src="/Content/layout/product/2.jpg" />
                                    </div>
                                    <div class="description">
                                        <span class="name">Ck One</span><br />
                                        by <span class="by">Calvin Klein</span><br />
                                        for Unisex
                                    </div>
                                    <div class="price">Up to 49% OFF</div>
                                </div>
                                <div class="product-item">
                                    <div class="image">
                                        <img src="/Content/layout/product/3.jpg" />
                                    </div>
                                    <div class="description">
                                        <span class="name">Ck One</span><br />
                                        by <span class="by">Calvin Klein</span><br />
                                        for Unisex
                                    </div>
                                    <div class="price">Up to 49% OFF</div>
                                </div>
                                <div class="product-item">
                                    <div class="image">
                                        <img src="/Content/layout/product/4.jpg" />
                                    </div>
                                    <div class="description">
                                        <span class="name">Ck One</span><br />
                                        by <span class="by">Calvin Klein</span><br />
                                        for Unisex
                                    </div>
                                    <div class="price">Up to 49% OFF</div>
                                </div>
                                <div class="clear-fix"></div>
                            </div>
                            <div class="tab3 tab">
                                <div class="clear-fix"></div>
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                        <script type="text/javascript">
                            function tab_click(index, total) {
                                for (var i = 1; i <= total; i++) {
                                    $("#tab-header .tab" + i).removeClass("tab-active");
                                    $("#tab-content .tab" + i).removeClass("tab-active");
                                }
                                $("#tab-header .tab" + index).addClass("tab-active");
                                $("#tab-content .tab" + index).addClass("tab-active");
                            }
                        </script>