<div id="footer">
            <div class="wrapper">
                <div>
                    <div class="top-contact-item">
                        <div class="title">
                            general information
                        </div>
                        <div>
                            <div class="links">
                                <ul>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Shipping</a></li>
                                    <li><a href="#">Returns & Exchanges</a></li>
                                    <li><a href="#">FAQ</a></li>
                                </ul>
                            </div>
                            <div class="links">
                                <ul>
                                    <li><a href="#">Contact Us</a></li>
                                    <li><a href="#">Site Map</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="top-contact-item border-lr">
                        <div class="title">
                            shopping online
                        </div>
                        <div>
                            <div class="links">
                                <ul>
                                    <li><a href="#">My Account</a></li>
                                    <li><a href="#">Order Status</a></li>
                                    <li><a href="#">Reminder Club</a></li>
                                    <li>&nbsp;</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="top-contact-item">
                        <div class="title">
                            company
                        </div>
                        <div>
                            <div class="links">
                                <ul>
                                    <li><a href="#">About GIA perfumes</a></li>
                                    <li><a href="#">Security & Privacy</a></li>
                                    <li><a href="#">Affiliates</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="clear-fix"></div>
                </div>
                <div class="bottom-contact">
                    <div class="bottom-contact-left">
                        <div>
                            <a href="#">
                                <img src="/Content/layout/logo.jpg" style="border: 1px solid #e1e1e1" /></a>
                        </div>
                        <div style="margin: 10px 0 30px 0;">
                            <div class="item">
                                <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fvietspring.net%2F&amp;send=false&amp;layout=box_count&amp;width=55&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:55px; height:90px;" allowTransparency="true"></iframe>
                            </div>
                            <div class="item">
                                <a href="#"><img src="/Content/layout/icon/facebook.png" /></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="/Content/layout/icon/youtube.png" /></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="/Content/layout/icon/twitter.png" style="height:34px;" /></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="/Content/layout/icon/pinterest.png" /></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="/Content/layout/icon/tellapal_icon.jpg" /></a>
                            </div>
                            <div class="item">
                                <a href="#"><img src="/Content/layout/icon/pinterest.png" /></a>
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                        <div>
                            <div class="item">
                                <a href="#">
                                    <img src="/Content/layout/icon/mcafee.gif" /></a>
                            </div>
                            <div class="item">
                                <a href="#">
                                    <img src="/Content/layout/icon/bizrate.gif" />
                                </a>
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                    </div>
                    <div class="bottom-contact-right">
                        <div>
                            <div class="callus">
                                <b>Call 1-800 PERFUMES [727-3867] or
                                    1-800-645-9251</b>
                            </div>
                            <div class="mailbox">
                                <div class="box">
                                    <span style="font-weight: bold;">Join our mailing list</span><br />
                                    <span>and save 10% on the next order</span><br />
                                    <input type="text" id="signup" value="SIGN UP" style="width: 100%; margin-top: 5px;" />
                                </div>
                            </div>
                            <div class="clear-fix"></div>
                        </div>
                        <div class="banks">
                            <a href="#" class="bank-logo">
                                <img src="/Content/layout/icon/amex.png" /></a>
                            <a href="#" class="bank-logo">
                                <img src="/Content/layout/icon/visa.png" /></a>
                            <a href="#" class="bank-logo">
                                <img src="/Content/layout/icon/mastercard.png" /></a>
                            <a href="#" class="bank-logo">
                                <img src="/Content/layout/icon/discover.png" /></a>
                            <a href="#" class="bank-logo">
                                <img src="/Content/layout/icon/jcb.png" /></a>
                            <a href="#" class="bank-logo">
                                <img src="/Content/layout/icon/paypal.png" /></a>

                        </div>
                        <div>
                            <div>
                                <a href="#" style="float: right;">Contact GIAperfumes.com</a>
                                <a href="#" style="float: right; border-right: 1px solid #000000; margin: 0 10px; padding-right: 12px;">Privacy Statement</a>
                            </div>
                            <div class="clear-fix"></div>
                            <div style="margin-top: 10px; text-align: right;">
                                Entire contents Copyright © 2012 GIAperfumes.com,<br />
                                Design & Developed by SFI.VN co.,ltd. Powered by nopCommerce. All Rights Reserved.
                            </div>
                        </div>
                    </div>
                    <div class="clear-fix"></div>
                </div>
            </div>
        </div>