<div id="top-cat">
    <ul>
        <li>
            <a href="#">WOMEN'S PERFUME</a>
        </li>
        <li class="cnt">
            <a href="#">MEN'S PERFUME</a>
        </li>
        <li>
            <a href="#">GIFT SETS</a>
        </li>
    </ul>
</div>
<div id="bonus-bar">
    <a href="#" class="red">UP TO 75% OFF</a>
    <span class="red">|</span>
    <a href="#">ONLINE CLEARANCE</a>
</div>
